.weather__primary__wrap {
    display: flex;
    margin-bottom: 3.125rem;
}

.weather__primary__meta {
    display: flex;
}

.weather__primary__icon {
    display: inline-block;
    border: 0.125rem solid #6a6b75;
    width: 8rem;
    height: 8rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-left: 0;
}

.weather__primary__temp {
    display: block;
    font-size: 6rem;
    margin: auto;
    margin-right: 10%;
}

.weather__secondary__wrap {
    display: flex;
    flex-wrap: wrap;
}

.weather__secondary__header {
    display: flex;
    vertical-align: auto;
}

.weather__secondary__header > div {
    margin: auto;
}

.weather__secondary__header h1 {
    font-size: 1.75rem;
}

.weather__secondary__icon {
    display: inline-block;
    border: 0.125rem solid #6a6b75;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-left: 1rem;
}

.weather__secondary__temp {
    display: inline-block;
    margin: auto;
    font-size: 3rem;
}

.weather__secondary__btn {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0 !important;
}

.weather__secondary__btn > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 2rem;
    background: #6e7f87;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.weather__details {
    list-style: none;
    display: block;
    padding-left: 0;
}

.weather__details > li {
    background: #a7afb1;
    display: flex;
    color: #ffffff;
    margin-top: 0.625rem;
    padding: 0.5rem 0.93rem;
}

.weather__details > li:first-child {
    margin-top: 0;
}

.weather__details > li > span:first-child {
    font-weight: bold;
    display: inline-block;
    margin: auto;
    margin-left: 0;
}

.weather__details > li > span:last-child {
    display: inline-block;
    margin: auto;
    margin-right: 0;
}

.weather__container {
    min-width: 45%;
}

.weather__clearfix {
    min-width: 10%;
}

@media only screen and (max-width: 1099px) {
    .weather__primary__wrap {
        flex-direction: column;
    }
    .weather__secondary__wrap {
        flex-direction: column;
    }
    .weather__container {
        min-width: 100%;
    }
    .weather__clearfix {
        min-width: 0;
    }
}
